In [1]:
#PROJETO FINAL – Análise de dados com PySpark

#Com o arquivo csv que você pesquisou, execute as seguintes atividades:
#1 – Altere o nome de pelo menos cinco colunas

#2 – Converta o tipo de dados de alguma coluna de sua escolha: Pode ser uma conversão para float, int, DoubleType() ou date.

#3 – Realize pelo menos 5 consultas através da função pyspark.sql ou através de métodos pyspark. Pelo menos duas das consultas deve conter alguma função de agregação: contagem, média, mediana, soma, etc.

#4 – Com alguma das consultas da atividade 3 crie um novo DataFrame e salve-o em formato .csv e em formato .orc.

#Vocês irão desenvolver a atividade em um novo notebook do Colab e depois irão me enviar.

In [2]:
# 01. Importando funções e bibliotecas necessárias.
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col

In [3]:
# 02. Criando objeto spark.
spark = SparkSession.builder.appName("tcc_senai1").getOrCreate()

In [4]:
spark

In [5]:
# 03. Importando data frame de suicidios (2010 a 2019) fonte (kaggle).

url = "/content/drive/MyDrive/Colab Notebooks/Trabalho_Nathan/suicidios_2010_a_2019.csv"

suic = spark.read.csv(
    url,
    sep=",",
    header=True,
    inferSchema=True
)

In [6]:
#Analisando a estrutura do dataframe (suic).
suic.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- estado: string (nullable = true)
 |-- ano: integer (nullable = true)
 |-- mes: integer (nullable = true)
 |-- DTOBITO: date (nullable = true)
 |-- DTNASC: string (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- ASSISTMED: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- ESTCIV: string (nullable = true)
 |-- ESC: string (nullable = true)
 |-- OCUP: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- CAUSABAS: string (nullable = true)
 |-- CAUSABAS_O: string (nullable = true)
 |-- LOCOCOR: string (nullable = true)
 |-- CIRURGIA: string (nullable = true)

In [7]:
# 04. Alterando o tipo de dado da coluna DTNASC para "int" e depois para "date"
suic = suic.withColumn("DTNASC", suic['DTNASC'].cast("int"))

In [8]:
# Analisando a alteração realizada
suic.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- estado: string (nullable = true)
 |-- ano: integer (nullable = true)
 |-- mes: integer (nullable = true)
 |-- DTOBITO: date (nullable = true)
 |-- DTNASC: integer (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- ASSISTMED: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- ESTCIV: string (nullable = true)
 |-- ESC: string (nullable = true)
 |-- OCUP: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- CAUSABAS: string (nullable = true)
 |-- CAUSABAS_O: string (nullable = true)
 |-- LOCOCOR: string (nullable = true)
 |-- CIRURGIA: string (nullable = true)

In [9]:
# 05.Alterando o tipo de dado da coluna DTNASC, de "int" para "date"
suic = suic.withColumn("DTNASC",
                f.to_date("DTNASC", "yyyyMMdd")
)

In [10]:
# Analisando a alteração realizada
suic.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- estado: string (nullable = true)
 |-- ano: integer (nullable = true)
 |-- mes: integer (nullable = true)
 |-- DTOBITO: date (nullable = true)
 |-- DTNASC: date (nullable = true)
 |-- SEXO: string (nullable = true)
 |-- RACACOR: string (nullable = true)
 |-- ASSISTMED: string (nullable = true)
 |-- ESCMAE: string (nullable = true)
 |-- ESTCIV: string (nullable = true)
 |-- ESC: string (nullable = true)
 |-- OCUP: string (nullable = true)
 |-- CODMUNRES: string (nullable = true)
 |-- CAUSABAS: string (nullable = true)
 |-- CAUSABAS_O: string (nullable = true)
 |-- LOCOCOR: string (nullable = true)
 |-- CIRURGIA: string (nullable = true)

In [11]:
# Analisando o dataframe antes de alterar retirar colunas desnecessárias.
suic.show(20, truncate=False)

+---+------+----+---+----------+------+---------+-------+---------+------+----------+-----------+----------------------+--------------+--------+----------+-----------+--------+
|_c0|estado|ano |mes|DTOBITO   |DTNASC|SEXO     |RACACOR|ASSISTMED|ESCMAE|ESTCIV    |ESC        |OCUP                  |CODMUNRES     |CAUSABAS|CAUSABAS_O|LOCOCOR    |CIRURGIA|
+---+------+----+---+----------+------+---------+-------+---------+------+----------+-----------+----------------------+--------------+--------+----------+-----------+--------+
|1  |AC    |2010|1  |2010-01-31|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|1 a 3 anos |ESTUDANTE             |Tarauacá      |X780    |X780      |Via pública|Não     |
|2  |AC    |2010|2  |2010-02-07|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|1 a 3 anos |ESTUDANTE             |Tarauacá      |X780    |X780      |Hospital   |Não     |
|3  |AC    |2010|2  |2010-02-19|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|1 a 3 anos |ESTUDANTE             |Tarauacá      |X780    |X780      |Hospital   |Não     |
|4  |AC    |2010|4  |2010-04-20|NULL  |Feminino |Parda  |NA       |NA    |Casado/a  |1 a 3 anos |DONA DE CASA          |Tarauacá      |X780    |X780      |Domicílio  |Não     |
|5  |AC    |2010|7  |2010-07-24|NULL  |Masculino|Parda  |NA       |NA    |Casado/a  |NA         |DONA DE CASA          |Tarauacá      |X720    |X720      |Domicílio  |Não     |
|6  |AC    |2010|4  |2010-04-30|NULL  |Feminino |Preta  |NA       |NA    |Solteiro/a|4 a 7 anos |DONA DE CASA          |Tarauacá      |X780    |X780      |Hospital   |Não     |
|7  |AC    |2010|1  |2010-01-15|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|4 a 7 anos |NA                    |Rio Branco    |X700    |X700      |Domicílio  |Não     |
|8  |AC    |2010|1  |2010-01-16|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|NA         |NA                    |Rio Branco    |X700    |X700      |Domicílio  |Não     |
|9  |AC    |2010|9  |2010-09-15|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|NA         |NA                    |Rio Branco    |X629    |R99       |Domicílio  |NA      |
|10 |AC    |2010|9  |2010-09-03|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|NA         |NA                    |Epitaciolândia|X747    |X747      |Domicílio  |Não     |
|11 |AC    |2010|9  |2010-09-05|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|NA         |NA                    |Rio Branco    |X700    |X700      |Domicílio  |NA      |
|12 |AC    |2010|8  |2010-08-25|NULL  |Masculino|NA     |NA       |NA    |NA        |NA         |NA                    |Rio Branco    |X700    |X700      |Domicílio  |NA      |
|13 |AC    |2010|10 |2010-10-08|NULL  |Feminino |NA     |NA       |NA    |Casado/a  |NA         |NA                    |Rio Branco    |X699    |X699      |Domicílio  |Não     |
|14 |AC    |2010|10 |2010-10-22|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|NA         |NA                    |Rio Branco    |X709    |X709      |Domicílio  |NA      |
|15 |AC    |2010|10 |2010-10-18|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|NA         |NA                    |Porto Acre    |X740    |X740      |Outros     |NA      |
|16 |AC    |2010|10 |2010-10-25|NULL  |Masculino|Branca |NA       |NA    |Solteiro/a|NA         |NA                    |Rio Branco    |X749    |X749      |Domicílio  |Não     |
|17 |AC    |2010|5  |2010-05-11|NULL  |Masculino|Branca |NA       |NA    |Solteiro/a|NA         |APOSENTADO/PENSIONISTA|Rio Branco    |X629    |R98       |Domicílio  |NA      |
|18 |AC    |2010|1  |2010-01-15|NULL  |Feminino |Amarela|NA       |NA    |Solteiro/a|NA         |ESTUDANTE             |Rio Branco    |X689    |X689      |Hospital   |Não     |
|19 |AC    |2010|3  |2010-03-18|NULL  |Masculino|NA     |NA       |NA    |NA        |NA         |NA                    |Rio Branco    |X709    |X709      |Domicílio  |NA      |
|20 |AC    |2010|3  |2010-03-19|NULL  |Masculino|Parda  |NA       |NA    |Solteiro/a|8 a 11 anos|ESTUDANTE             |Rio Branco    |X700    |X700      |Domicílio  |Não     |
+---+------+----+---+----------+------+---------+-------+---------+------+----------+-----------+----------------------+--------------+--------+----------+-----------+--------+
only showing top 20 rows

In [12]:
# Retirando colunas e analisando o resultado
suic.drop("ASSISTMED", "ESCMAE", "CAUSABAS", "CAUSABAS_O").show(10, truncate=False)

+---+------+----+---+----------+------+---------+-------+----------+----------+------------+--------------+-----------+--------+
|_c0|estado|ano |mes|DTOBITO   |DTNASC|SEXO     |RACACOR|ESTCIV    |ESC       |OCUP        |CODMUNRES     |LOCOCOR    |CIRURGIA|
+---+------+----+---+----------+------+---------+-------+----------+----------+------------+--------------+-----------+--------+
|1  |AC    |2010|1  |2010-01-31|NULL  |Masculino|Parda  |Solteiro/a|1 a 3 anos|ESTUDANTE   |Tarauacá      |Via pública|Não     |
|2  |AC    |2010|2  |2010-02-07|NULL  |Masculino|Parda  |Solteiro/a|1 a 3 anos|ESTUDANTE   |Tarauacá      |Hospital   |Não     |
|3  |AC    |2010|2  |2010-02-19|NULL  |Masculino|Parda  |Solteiro/a|1 a 3 anos|ESTUDANTE   |Tarauacá      |Hospital   |Não     |
|4  |AC    |2010|4  |2010-04-20|NULL  |Feminino |Parda  |Casado/a  |1 a 3 anos|DONA DE CASA|Tarauacá      |Domicílio  |Não     |
|5  |AC    |2010|7  |2010-07-24|NULL  |Masculino|Parda  |Casado/a  |NA        |DONA DE CASA|Tarauacá      |Domicílio  |Não     |
|6  |AC    |2010|4  |2010-04-30|NULL  |Feminino |Preta  |Solteiro/a|4 a 7 anos|DONA DE CASA|Tarauacá      |Hospital   |Não     |
|7  |AC    |2010|1  |2010-01-15|NULL  |Masculino|Parda  |Solteiro/a|4 a 7 anos|NA          |Rio Branco    |Domicílio  |Não     |
|8  |AC    |2010|1  |2010-01-16|NULL  |Masculino|Parda  |Solteiro/a|NA        |NA          |Rio Branco    |Domicílio  |Não     |
|9  |AC    |2010|9  |2010-09-15|NULL  |Masculino|Parda  |Solteiro/a|NA        |NA          |Rio Branco    |Domicílio  |NA      |
|10 |AC    |2010|9  |2010-09-03|NULL  |Masculino|Parda  |Solteiro/a|NA        |NA          |Epitaciolândia|Domicílio  |Não     |
+---+------+----+---+----------+------+---------+-------+----------+----------+------------+--------------+-----------+--------+
only showing top 10 rows

In [13]:
# Realizando a alteração (exclusão das colunas = ("ASSISTMED", "ESCMAE", "CAUSABAS", "CAUSABAS_O"))
suic = suic.drop("ASSISTMED", "ESCMAE", "CAUSABAS", "CAUSABAS_O", "CIRURGIA")

In [14]:
# Verificando alteração realizada
suic.show(10, truncate=False)

+---+------+----+---+----------+------+---------+-------+----------+----------+------------+--------------+-----------+
|_c0|estado|ano |mes|DTOBITO   |DTNASC|SEXO     |RACACOR|ESTCIV    |ESC       |OCUP        |CODMUNRES     |LOCOCOR    |
+---+------+----+---+----------+------+---------+-------+----------+----------+------------+--------------+-----------+
|1  |AC    |2010|1  |2010-01-31|NULL  |Masculino|Parda  |Solteiro/a|1 a 3 anos|ESTUDANTE   |Tarauacá      |Via pública|
|2  |AC    |2010|2  |2010-02-07|NULL  |Masculino|Parda  |Solteiro/a|1 a 3 anos|ESTUDANTE   |Tarauacá      |Hospital   |
|3  |AC    |2010|2  |2010-02-19|NULL  |Masculino|Parda  |Solteiro/a|1 a 3 anos|ESTUDANTE   |Tarauacá      |Hospital   |
|4  |AC    |2010|4  |2010-04-20|NULL  |Feminino |Parda  |Casado/a  |1 a 3 anos|DONA DE CASA|Tarauacá      |Domicílio  |
|5  |AC    |2010|7  |2010-07-24|NULL  |Masculino|Parda  |Casado/a  |NA        |DONA DE CASA|Tarauacá      |Domicílio  |
|6  |AC    |2010|4  |2010-04-30|NULL  |Feminino |Preta  |Solteiro/a|4 a 7 anos|DONA DE CASA|Tarauacá      |Hospital   |
|7  |AC    |2010|1  |2010-01-15|NULL  |Masculino|Parda  |Solteiro/a|4 a 7 anos|NA          |Rio Branco    |Domicílio  |
|8  |AC    |2010|1  |2010-01-16|NULL  |Masculino|Parda  |Solteiro/a|NA        |NA          |Rio Branco    |Domicílio  |
|9  |AC    |2010|9  |2010-09-15|NULL  |Masculino|Parda  |Solteiro/a|NA        |NA          |Rio Branco    |Domicílio  |
|10 |AC    |2010|9  |2010-09-03|NULL  |Masculino|Parda  |Solteiro/a|NA        |NA          |Epitaciolândia|Domicílio  |
+---+------+----+---+----------+------+---------+-------+----------+----------+------------+--------------+-----------+
only showing top 10 rows

In [15]:
# Alterando o nome das colunas, analisando o resultado
suic.withColumnsRenamed({
    "_c0" : "codigo",
    "DTOBITO" : "data_do_obito",
    "RACACOR" : "raca_cor",
    "ESTCIV" : "estado_civil",
    "ESC" : "escolaridade",
    "OCUP" : "ocupacao",
    "CODMUNRES" : "municipio",
    "LOCOCOR" : "local_do_obito",
    "SEXO" : "sexo"
}).show(10, truncate=False)

+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+
|codigo|estado|ano |mes|data_do_obito|DTNASC|sexo     |raca_cor|estado_civil|escolaridade|ocupacao    |municipio     |local_do_obito|
+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+
|1     |AC    |2010|1  |2010-01-31   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Via pública   |
|2     |AC    |2010|2  |2010-02-07   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Hospital      |
|3     |AC    |2010|2  |2010-02-19   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Hospital      |
|4     |AC    |2010|4  |2010-04-20   |NULL  |Feminino |Parda   |Casado/a    |1 a 3 anos  |DONA DE CASA|Tarauacá      |Domicílio     |
|5     |AC    |2010|7  |2010-07-24   |NULL  |Masculino|Parda   |Casado/a    |NA          |DONA DE CASA|Tarauacá      |Domicílio     |
|6     |AC    |2010|4  |2010-04-30   |NULL  |Feminino |Preta   |Solteiro/a  |4 a 7 anos  |DONA DE CASA|Tarauacá      |Hospital      |
|7     |AC    |2010|1  |2010-01-15   |NULL  |Masculino|Parda   |Solteiro/a  |4 a 7 anos  |NA          |Rio Branco    |Domicílio     |
|8     |AC    |2010|1  |2010-01-16   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Rio Branco    |Domicílio     |
|9     |AC    |2010|9  |2010-09-15   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Rio Branco    |Domicílio     |
|10    |AC    |2010|9  |2010-09-03   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Epitaciolândia|Domicílio     |
+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+
only showing top 10 rows

In [16]:
#Realizando a alteração
suic = suic.withColumnsRenamed({
    "_c0" : "codigo",
    "DTOBITO" : "data_do_obito",
    "RACACOR" : "raca_cor",
    "ESTCIV" : "estado_civil",
    "ESC" : "escolaridade",
    "OCUP" : "ocupacao",
    "CODMUNRES" : "municipio",
    "LOCOCOR" : "local_do_obito",
    "SEXO" : "sexo"
})

In [17]:
# Verificando a alteração
suic.show(10, truncate=False)

+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+
|codigo|estado|ano |mes|data_do_obito|DTNASC|sexo     |raca_cor|estado_civil|escolaridade|ocupacao    |municipio     |local_do_obito|
+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+
|1     |AC    |2010|1  |2010-01-31   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Via pública   |
|2     |AC    |2010|2  |2010-02-07   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Hospital      |
|3     |AC    |2010|2  |2010-02-19   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Hospital      |
|4     |AC    |2010|4  |2010-04-20   |NULL  |Feminino |Parda   |Casado/a    |1 a 3 anos  |DONA DE CASA|Tarauacá      |Domicílio     |
|5     |AC    |2010|7  |2010-07-24   |NULL  |Masculino|Parda   |Casado/a    |NA          |DONA DE CASA|Tarauacá      |Domicílio     |
|6     |AC    |2010|4  |2010-04-30   |NULL  |Feminino |Preta   |Solteiro/a  |4 a 7 anos  |DONA DE CASA|Tarauacá      |Hospital      |
|7     |AC    |2010|1  |2010-01-15   |NULL  |Masculino|Parda   |Solteiro/a  |4 a 7 anos  |NA          |Rio Branco    |Domicílio     |
|8     |AC    |2010|1  |2010-01-16   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Rio Branco    |Domicílio     |
|9     |AC    |2010|9  |2010-09-15   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Rio Branco    |Domicílio     |
|10    |AC    |2010|9  |2010-09-03   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Epitaciolândia|Domicílio     |
+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+
only showing top 10 rows

In [18]:
#Incluindo um segundo dataframe para união com Join

url = "/content/drive/MyDrive/Colab Notebooks/Trabalho_Nathan/suicidios_por_estados.csv"

mort_est = spark.read.csv(
    url,
    sep=",",
    header=True,
    inferSchema=True
)

In [19]:
mort_est.show(10, truncate=False)

+---+------------+---------+--------+----+--------+
|_c0|abrev_estado|estado   |regiao  |n   |pop_ibge|
+---+------------+---------+--------+----+--------+
|1  |RO          |Rondônia |Norte   |995 |1562409 |
|2  |AC          |Acre     |Norte   |508 |733559  |
|3  |AM          |Amazônas |Norte   |2145|3483985 |
|4  |RR          |Roraima  |Norte   |402 |450479  |
|5  |PA          |Pará     |Norte   |2640|7581051 |
|6  |AP          |Amapá    |Norte   |429 |669526  |
|7  |TO          |Tocantins|Norte   |1030|1383445 |
|8  |MA          |Maranhão |Nordeste|2676|6574789 |
|9  |PI          |Piauí    |Nordeste|2710|3118360 |
|10 |CE          |Ceará    |Nordeste|5805|8452381 |
+---+------------+---------+--------+----+--------+
only showing top 10 rows

In [20]:
mort_est = mort_est.drop("estado")

In [21]:
# Unindo os dois dataframes
df_result = suic.join(mort_est, suic.estado == mort_est.abrev_estado, how="inner")

In [22]:
#Verificando o novo dataframe (df_result)
df_result.show(10, truncate=False)

+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+---+------------+------+---+--------+
|codigo|estado|ano |mes|data_do_obito|DTNASC|sexo     |raca_cor|estado_civil|escolaridade|ocupacao    |municipio     |local_do_obito|_c0|abrev_estado|regiao|n  |pop_ibge|
+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+---+------------+------+---+--------+
|1     |AC    |2010|1  |2010-01-31   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Via pública   |2  |AC          |Norte |508|733559  |
|2     |AC    |2010|2  |2010-02-07   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Hospital      |2  |AC          |Norte |508|733559  |
|3     |AC    |2010|2  |2010-02-19   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE   |Tarauacá      |Hospital      |2  |AC          |Norte |508|733559  |
|4     |AC    |2010|4  |2010-04-20   |NULL  |Feminino |Parda   |Casado/a    |1 a 3 anos  |DONA DE CASA|Tarauacá      |Domicílio     |2  |AC          |Norte |508|733559  |
|5     |AC    |2010|7  |2010-07-24   |NULL  |Masculino|Parda   |Casado/a    |NA          |DONA DE CASA|Tarauacá      |Domicílio     |2  |AC          |Norte |508|733559  |
|6     |AC    |2010|4  |2010-04-30   |NULL  |Feminino |Preta   |Solteiro/a  |4 a 7 anos  |DONA DE CASA|Tarauacá      |Hospital      |2  |AC          |Norte |508|733559  |
|7     |AC    |2010|1  |2010-01-15   |NULL  |Masculino|Parda   |Solteiro/a  |4 a 7 anos  |NA          |Rio Branco    |Domicílio     |2  |AC          |Norte |508|733559  |
|8     |AC    |2010|1  |2010-01-16   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Rio Branco    |Domicílio     |2  |AC          |Norte |508|733559  |
|9     |AC    |2010|9  |2010-09-15   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Rio Branco    |Domicílio     |2  |AC          |Norte |508|733559  |
|10    |AC    |2010|9  |2010-09-03   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA          |Epitaciolândia|Domicílio     |2  |AC          |Norte |508|733559  |
+------+------+----+---+-------------+------+---------+--------+------------+------------+------------+--------------+--------------+---+------------+------+---+--------+
only showing top 10 rows

In [23]:
df_result = df_result.drop("abrev_estado")

In [24]:
from os import truncate
df_result.show(20, truncate=False)

+------+------+----+---+-------------+------+---------+--------+------------+------------+----------------------+--------------+--------------+---+------+---+--------+
|codigo|estado|ano |mes|data_do_obito|DTNASC|sexo     |raca_cor|estado_civil|escolaridade|ocupacao              |municipio     |local_do_obito|_c0|regiao|n  |pop_ibge|
+------+------+----+---+-------------+------+---------+--------+------------+------------+----------------------+--------------+--------------+---+------+---+--------+
|1     |AC    |2010|1  |2010-01-31   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE             |Tarauacá      |Via pública   |2  |Norte |508|733559  |
|2     |AC    |2010|2  |2010-02-07   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE             |Tarauacá      |Hospital      |2  |Norte |508|733559  |
|3     |AC    |2010|2  |2010-02-19   |NULL  |Masculino|Parda   |Solteiro/a  |1 a 3 anos  |ESTUDANTE             |Tarauacá      |Hospital      |2  |Norte |508|733559  |
|4     |AC    |2010|4  |2010-04-20   |NULL  |Feminino |Parda   |Casado/a    |1 a 3 anos  |DONA DE CASA          |Tarauacá      |Domicílio     |2  |Norte |508|733559  |
|5     |AC    |2010|7  |2010-07-24   |NULL  |Masculino|Parda   |Casado/a    |NA          |DONA DE CASA          |Tarauacá      |Domicílio     |2  |Norte |508|733559  |
|6     |AC    |2010|4  |2010-04-30   |NULL  |Feminino |Preta   |Solteiro/a  |4 a 7 anos  |DONA DE CASA          |Tarauacá      |Hospital      |2  |Norte |508|733559  |
|7     |AC    |2010|1  |2010-01-15   |NULL  |Masculino|Parda   |Solteiro/a  |4 a 7 anos  |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|8     |AC    |2010|1  |2010-01-16   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|9     |AC    |2010|9  |2010-09-15   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|10    |AC    |2010|9  |2010-09-03   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA                    |Epitaciolândia|Domicílio     |2  |Norte |508|733559  |
|11    |AC    |2010|9  |2010-09-05   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|12    |AC    |2010|8  |2010-08-25   |NULL  |Masculino|NA      |NA          |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|13    |AC    |2010|10 |2010-10-08   |NULL  |Feminino |NA      |Casado/a    |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|14    |AC    |2010|10 |2010-10-22   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|15    |AC    |2010|10 |2010-10-18   |NULL  |Masculino|Parda   |Solteiro/a  |NA          |NA                    |Porto Acre    |Outros        |2  |Norte |508|733559  |
|16    |AC    |2010|10 |2010-10-25   |NULL  |Masculino|Branca  |Solteiro/a  |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|17    |AC    |2010|5  |2010-05-11   |NULL  |Masculino|Branca  |Solteiro/a  |NA          |APOSENTADO/PENSIONISTA|Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|18    |AC    |2010|1  |2010-01-15   |NULL  |Feminino |Amarela |Solteiro/a  |NA          |ESTUDANTE             |Rio Branco    |Hospital      |2  |Norte |508|733559  |
|19    |AC    |2010|3  |2010-03-18   |NULL  |Masculino|NA      |NA          |NA          |NA                    |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
|20    |AC    |2010|3  |2010-03-19   |NULL  |Masculino|Parda   |Solteiro/a  |8 a 11 anos |ESTUDANTE             |Rio Branco    |Domicílio     |2  |Norte |508|733559  |
+------+------+----+---+-------------+------+---------+--------+------------+------------+----------------------+--------------+--------------+---+------+---+--------+
only showing top 20 rows

In [35]:
#CRIANDO DADOS ESTATISTICOS
df_result\
        .groupBy("estado", "regiao")\
        .agg(
            f.format_number(f.sum("n"), 2).alias("total_obitos"),
            f.median("n").cast("int").alias("media_mensal"),
            f.count_distinct("data_do_obito"). alias("qtd_de_datas"),
            f.stddev("n").alias("desvio_padrao"),
            f.variance("n").alias("Variancia")




        )\
       .orderBy("estado", ascending=False)\
       .toPandas()

,estado,regiao,total_obitos,media_mensal,qtd_de_datas,desvio_padrao,Variancia
0,TO,Norte,"1,060,900.00",1030,892,0.000000e+00,0.000000e+00
1,SP,Sudeste,"482,680,900.00",21970,3645,0.000000e+00,0.000000e+00
2,SE,Nordeste,"1,471,369.00",1213,1033,0.000000e+00,0.000000e+00
3,SC,Sul,"40,309,801.00",6349,2961,0.000000e+00,0.000000e+00
4,RS,Sul,"140,659,600.00",11860,3506,0.000000e+00,0.000000e+00
5,RR,Norte,"161,604.00",402,383,0.000000e+00,0.000000e+00
6,RO,Norte,"990,025.00",995,866,0.000000e+00,0.000000e+00
7,RN,Nordeste,"3,003,289.00",1733,1368,0.000000e+00,0.000000e+00
8,RJ,Sudeste,"28,869,129.00",5373,2774,0.000000e+00,0.000000e+00
9,PR,Sul,"52,591,504.00",7252,3063,0.000000e+00,0.000000e+00
10,PI,Nordeste,"7,344,100.00",2710,1895,0.000000e+00,0.000000e+00
11,PE,Nordeste,"12,837,889.00",3583,2256,0.000000e+00,0.000000e+00
12,PB,Nordeste,"4,036,081.00",2009,1536,0.000000e+00,0.000000e+00
13,PA,Norte,"6,969,600.00",2640,1814,0.000000e+00,0.000000e+00
14,MT,Centro Oeste,"3,367,225.00",1835,1438,0.000000e+00,0.000000e+00
15,MS,Centro Oeste,"5,244,100.00",2290,1714,0.000000e+00,0.000000e+00
16,MG,Sudeste,"183,358,681.00",13541,3542,5.633171e-14,3.173262e-27
17,MA,Nordeste,"7,160,976.00",2676,1885,0.000000e+00,0.000000e+00
18,GO,Centro Oeste,"19,829,209.00",4453,2531,0.000000e+00,0.000000e+00
19,ES,Sudeste,"3,606,201.00",1899,1473,0.000000e+00,0.000000e+00
20,DF,Centro Oeste,"2,220,100.00",1490,1183,0.000000e+00,0.000000e+00
21,CE,Nordeste,"33,698,025.00",5805,2898,0.000000e+00,0.000000e+00
22,BA,Nordeste,"26,440,164.00",5142,2725,0.000000e+00,0.000000e+00
23,AP,Norte,"184,041.00",429,394,0.000000e+00,0.000000e+00
24,AM,Norte,"4,601,025.00",2145,1588,0.000000e+00,0.000000e+00
25,AL,Nordeste,"1,343,281.00",1159,988,0.000000e+00,0.000000e+00
26,AC,Norte,"258,064.00",508,470,0.000000e+00,0.000000e+00

In [36]:
# Criando views
suic.createOrReplaceTempView("s_sui")
mort_est.createOrReplaceTempView("s_m_est")

In [47]:
# Criando novo dataframe:

tab_suicidios = spark.sql(
"""
SELECT s.municipio, s.estado, SUM(sme.n) AS total_obitos
FROM s_sui s
INNER JOIN s_m_est sme ON sme.abrev_estado = s.estado
GROUP BY s.municipio, s.estado
"""
)

In [49]:
tab_suicidios.show(50, truncate=False)

+--------------------------+------+------------+
|municipio                 |estado|total_obitos|
+--------------------------+------+------------+
|Russas                    |CE    |336690      |
|Valparaíso de Goiás       |GO    |280539      |
|Itaquiraí                 |MS    |32060       |
|Mar de Espanha            |MG    |81246       |
|Alagoa Nova               |PB    |26117       |
|Cafezal do Sul            |PR    |14504       |
|Santa Maria da Boa Vista  |PE    |78826       |
|Jaguarão                  |RS    |438820      |
|Buritirana                |MA    |16056       |
|Vista Serrana             |PB    |8036        |
|Rondinha                  |RS    |142320      |
|Guajará                   |AM    |10725       |
|Cezarina                  |GO    |8906        |
|Pequi                     |MG    |81246       |
|Senador José Bento        |MG    |27082       |
|Amaral Ferrador           |RS    |106740      |
|Cajati                    |SP    |241670      |
|Dom Basílio               |BA    |56562       |
|Cabeceira Grande          |MG    |40623       |
|Rio Quente                |GO    |4453        |
|Ibitiara                  |BA    |61704       |
|Muritiba                  |BA    |71988       |
|São Gabriel da Palha      |ES    |26586       |
|Aragarças                 |GO    |89060       |
|Timon                     |MA    |283656      |
|Arari                     |MA    |26760       |
|Cuparaque                 |MG    |27082       |
|Santa Bárbara do Leste    |MG    |94787       |
|Visconde do Rio Branco    |MG    |406230      |
|Tucumã                    |PA    |44880       |
|Serra Branca              |PB    |12054       |
|Lapa                      |PR    |159544      |
|Salgado Filho             |PR    |43512       |
|Floraí                    |PR    |43512       |
|Sigefredo Pacheco         |PI    |27100       |
|Altos                     |PI    |111110      |
|Almirante Tamandaré do Sul|RS    |94880       |
|Chuí                      |RS    |166040      |
|Barão                     |RS    |94880       |
|Araranguá                 |SC    |450779      |
|São José Dos Campos       |SP    |4240210     |
|Cariré                    |CE    |40635       |
|Tesouro                   |MT    |7340        |
|Amparo                    |PB    |4018        |
|Peabiru                   |PR    |87024       |
|Ibema                     |PR    |29008       |
|Nossa Senhora de Nazaré   |PI    |16260       |
|Ibirá                     |SP    |131820      |
|São Joaquim de Bicas      |MG    |121869      |
|Painel                    |SC    |19047       |
+--------------------------+------+------------+
only showing top 50 rows

In [50]:
# Salvando data frame em disco no formato orc.
url = "/content/drive/MyDrive/Colab Notebooks/Saidas"
tab_suicidios.coalesce(1).write.orc(
    url,
    mode = "overwrite"
)

In [51]:
#Salvando data frame em disco no formato csv.
url = "/content/drive/MyDrive/Colab Notebooks/Saidas"
tab_suicidios.coalesce(1).write.csv(
    url,
    mode = "overwrite"
)